@import 'pretendard/dist/web/static/pretendard.css';
@import "tailwindcss";

@theme {
    --color-primary: #FFD116;
    --color-primary-bg: #FFFAF1;

    --color-secondary: #525252;
    --color-secondary-bg: #F5F5F5;

    --color-success: #7CCF00;
    --color-success-bg: #F0FDF4;

    --color-warning: #FE9A00;
    --color-warning-bg: #FFFBEB;

    --color-danger: #FB2C36;
    --color-danger-bg: #FFE2E2;

    --color-kakao: #FFDD00;
    --color-naver: #03C75A;

    --shadow-base : 0px 2px 10px 0px rgba(0,0,0,0.05);

    --font-sans: "Pretendard", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}